*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
}
body {
    overflow-x: hidden;
    font-family: sans-serif;
}
header {
    padding: 3rem 3rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}
header nav ul {
    margin: 0 2rem 0;
}
header nav , header nav ul {
display: flex;
align-items: center;
}
header nav ul li{
    font-size: 1.5rem;
    font-weight: 600;
    list-style: none;
    margin: 0 1.5rem 0;
}
header nav .logo img {
    width: 40px;
}
.side-nav {
    display: flex;
    align-items: center;
}
header .side-nav h6 {
    font-size: 1.5rem;
    font-weight: 600;
    list-style: none;
    margin: 0 1.5rem 0;
}
header .side-nav a {
    font-size: 1.5rem;
    font-weight: 600;
    list-style: none;
    margin: 0 1.5rem 0;
    text-decoration: none;
}
header .side-nav .fas  {
    font-size:2rem;
}
header .side-nav .sign {
    padding: .9rem 1.3rem;
    border: 1px solid black;
border-radius: 1.3rem;
color: black;
}
header .side-nav .join {
    padding: 1rem 1.3rem;
background-color: black;
border-radius: 1.3rem;
color: white;
}