*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
}
body {
    overflow-x: hidden;
    font-family: sans-serif;
}
header {
    padding: 3rem 3rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}
header nav ul {
    margin: 0 2rem 0;
}
header nav , header nav ul {
display: flex;
align-items: center;
}
header nav ul li{
    font-size: 1.5rem;
    font-weight: 600;
    list-style: none;
    margin: 0 1.5rem 0;
}
header nav .logo img {
    width: 40px;
}
.side-nav {
    display: flex;
    align-items: center;
}
header .side-nav h6 {
    font-size: 1.5rem;
    font-weight: 600;
    list-style: none;
    margin: 0 1.5rem 0;
}
header .side-nav a {
    font-size: 1.5rem;
    font-weight: 600;
    list-style: none;
    margin: 0 1.5rem 0;
    text-decoration: none;
}
header .side-nav .fas  {
    font-size:2rem;
}
header .side-nav .sign {
    padding: .9rem 1.3rem;
    border: 1px solid black;
border-radius: 1.3rem;
color: black;
}
header .side-nav .join {
    padding: 1rem 1.3rem;
background-color: black;
border-radius: 1.3rem;
color: white;
}
@media (max-width:820px){
    header nav ul , header .side-nav {
        display: none;
    }
}

/* -hero sec section-1 start */
.container-1 {
    width: 100%;
    margin: 4rem 0;
    background-color: #D4E9E2;
}
.container-1  .row-1 {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.container-1 .row-1 .col-1 {
    width: 30%;
    padding: 4rem 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container-1 .row-1 .col-2 {
    width: 50%;
}
.container-1 .row-1 .col-2 img {
    width: 100%;
}
.container-1 .row-1 .col-1 h1 {
    font-size: 5rem;
    letter-spacing: 2px;
    text-align: center;
}
.container-1 .row-1 .col-1 p {
    margin: 1rem 0;
    line-height: 1.6;
    font-size: 2.2rem;
    text-align: center;
}
.container-1 .row-1 .col-1 a{
    margin: 1rem auto;
    line-height: 1.6;
    font-size: 2.2rem;
    text-align: center;
    color: #007553;
}
@media (max-width:820px){
    .container-1  .row-1 {
flex-direction: column;
    }
    .container-1 .row-1 .col-1 {
        width: 90%;
    }
    .container-1 .row-1 .col-2 {
        width: 90%;
    }
}

